<div
  class="navbar-area"
  [ngClass]="{ 'white-navbar': router.url === '/index-2', sticky: isSticky }"
>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg" [class.active]="classApplied">
      <a class="navbar-brand position-relative" routerLink="/">
        <img ngSrc="assets/images/logo.webp" fill alt="logo" />
      </a>
      <button class="navbar-toggler" type="button" (click)="toggleClass()">
        <span class="burger-menu">
          <span class="top-bar"></span>
          <span class="middle-bar"></span>
          <span class="bottom-bar"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              routerLink="/"
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="/about-us"
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              About us
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="/jobs"
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Jobs
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="/contact-us"
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Contact Us
            </a>
          </li>
        </ul>
        <div class="others-option d-md-flex align-items-center">
          <div class="option-item">
            <span class="d-block login-register" (click)="openPopup()">
              <i class="ri-user-line"></i>
              Login/Register
            </span>
          </div>
          <div class="option-item">
            <a routerLink="/dashboard/post-a-new-job" class="default-btn">
              Post A Job
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- Modal -->
@if (isOpen) {
<div class="modal fade loginRegisterModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="nav nav-tabs d-block border-0">
          <li
            class="nav-item d-inline-block"
            [ngClass]="{ active: currentTab === 'tab1' }"
          >
            <button
              type="button"
              class="nav-link fw-semibold position-relative shadow-none mb-0 rounded-0"
              (click)="switchTab($event, 'tab1')"
            >
              Login
            </button>
          </li>
          <li
            class="nav-item d-inline-block"
            [ngClass]="{ active: currentTab === 'tab2' }"
          >
            <button
              type="button"
              class="nav-link fw-semibold position-relative shadow-none mb-0 rounded-0"
              (click)="switchTab($event, 'tab2')"
            >
              Register
            </button>
          </li>
        </ul>
        <div class="tab-content">
          @if (currentTab === 'tab1') {
          <div class="tab-pane fade d-block opacity-100">
            <div class="info">
              <p>
                Username: <span class="fw-semibold">employer</span> or
                <span class="fw-semibold">candidate</span>
              </p>
              <p>Password: <span class="fw-semibold">jove</span></p>
            </div>
            <form class="authentication-form">
              <div class="form-group">
                <label> Account or Email </label>
                <input
                  type="text"
                  class="form-control shadow-none"
                  placeholder="Enter account or email"
                />
              </div>
              <div class="form-group">
                <label> Password </label>
                <input
                  type="password"
                  class="form-control shadow-none"
                  placeholder="Enter password"
                />
              </div>
              <div class="form-group forgot-password">
                Forgot your password? <a routerLink="/">Reset password.</a>
              </div>
              <button type="submit" class="default-btn d-block w-100">
                Login Now
              </button>
              <div class="login-with-socials text-center">
                <span class="d-block fw-medium"> Or Continue with </span>
                <a href="#" target="_blank" class="facebook d-inline-block">
                  <i class="ri-facebook-fill"></i>
                </a>
                <a href="#" target="_blank" class="google d-inline-block">
                  <i class="ri-google-fill"></i>
                </a>
                <a href="#" target="_blank" class="linkedin d-inline-block">
                  <i class="ri-linkedin-fill"></i>
                </a>
              </div>
            </form>
          </div>
          } @if (currentTab === 'tab2') {
          <div class="tab-pane fade d-block opacity-100">
            <ul class="nav nav-tabs d-block border-0">
              <li
                class="nav-item d-inline-block"
                [ngClass]="{ active: currentInnerTab === 'innerTab1' }"
              >
                <button
                  type="button"
                  class="nav-link fw-semibold shadow-none mb-0"
                  (click)="switchInnerTab($event, 'innerTab1')"
                >
                  Candidate
                </button>
              </li>
              <li
                class="nav-item d-inline-block"
                [ngClass]="{ active: currentInnerTab === 'innerTab2' }"
              >
                <button
                  type="button"
                  class="nav-link fw-semibold shadow-none mb-0"
                  (click)="switchInnerTab($event, 'innerTab2')"
                >
                  Employer
                </button>
              </li>
            </ul>
            <div class="tab-content">
              @if (currentInnerTab === 'innerTab1') {
              <div class="tab-pane fade d-block opacity-100">
                <form class="authentication-form">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label> First Name </label>
                        <input
                          type="text"
                          class="form-control shadow-none"
                          placeholder="Enter name"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label> Last Name </label>
                        <input
                          type="text"
                          class="form-control shadow-none"
                          placeholder="Enter name"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label> Username </label>
                        <input
                          type="text"
                          class="form-control shadow-none"
                          placeholder="Enter username"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label> Email </label>
                        <input
                          type="email"
                          class="form-control shadow-none"
                          placeholder="Enter email"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label> Phone number </label>
                    <input
                      type="text"
                      class="form-control shadow-none"
                      placeholder="Enter phone number"
                    />
                  </div>
                  <div class="form-group">
                    <label> Password </label>
                    <input
                      type="text"
                      class="form-control shadow-none"
                      placeholder="Enter password"
                    />
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input shadow-none"
                      type="checkbox"
                      id="termsPrivacyPolicy"
                    />
                    <label class="form-check-label" for="termsPrivacyPolicy">
                      Accept the <a routerLink="/">Terms</a> and
                      <a routerLink="/">Privacy Policy</a>
                    </label>
                  </div>
                  <button type="submit" class="default-btn d-block w-100">
                    Register Now
                  </button>
                </form>
              </div>
              } @if (currentInnerTab === 'innerTab2') {
              <div class="tab-pane fade d-block opacity-100">
                <form class="authentication-form">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label> First Name </label>
                        <input
                          type="text"
                          class="form-control shadow-none"
                          placeholder="Enter name"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label> Last Name </label>
                        <input
                          type="text"
                          class="form-control shadow-none"
                          placeholder="Enter name"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label> Username </label>
                        <input
                          type="text"
                          class="form-control shadow-none"
                          placeholder="Enter username"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label> Email </label>
                        <input
                          type="email"
                          class="form-control shadow-none"
                          placeholder="Enter email"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label> Phone number </label>
                    <input
                      type="text"
                      class="form-control shadow-none"
                      placeholder="Enter phone number"
                    />
                  </div>
                  <div class="form-group">
                    <label> Password </label>
                    <input
                      type="text"
                      class="form-control shadow-none"
                      placeholder="Enter password"
                    />
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input shadow-none"
                      type="checkbox"
                      id="termsPrivacyPolicy"
                    />
                    <label class="form-check-label" for="termsPrivacyPolicy">
                      Accept the <a routerLink="/">Terms</a> and
                      <a routerLink="/">Privacy Policy</a>
                    </label>
                  </div>
                  <button type="submit" class="default-btn d-block w-100">
                    Register Now
                  </button>
                </form>
              </div>
              }
            </div>
          </div>
          }
        </div>
        <button (click)="closePopup()" type="button" class="close-btn">
          <i class="ri-close-fill"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
</div>
}
