:root {
  --fontFamily: "pLight", sans-serif;
  --headingFontFamily: "pSemi", sans-serif;
  --primaryColor: #c68b97;
  --listingPrimaryColor: #4086f6;
  --secondaryColor: #4e69bb;
  --headingColor: #404145;
  --bodyColor: #62646a;
  --whiteColor: #ffffff;
  --borderColor: #e0e6e9;
  --transition: all ease 0.5s;
  --fontSize: 16px;
}
