<div class="job-item text-center overflow-hidden position-relative">
  <div class="content">
    <div class="company-logo">
      <img src="assets/images/companies/company8.png" alt="company-image" />
    </div>
    <h3 class="fw-semibold">
      <a routerLink="/jobs/job-details"> Mechanical Engineer </a>
    </h3>
    <span class="location d-block"> Topoint in London </span>
    <div class="d-flex justify-content-center align-items-center">
      <span class="job-type d-block"> Full Time </span>
      <span class="deadline d-block">
        <span class="fw-medium">Deadline:</span>
        Oct 30, 2023
      </span>
    </div>
  </div>
  <div class="info d-flex align-items-center justify-content-between">
    <span class="salary d-block">
      <span class="fw-semibold">Salary:</span>
      <span>$1K - $3K</span>
      /monthly
    </span>
    <span class="deadline d-block">
      <a
        routerLink="/jobs/job-details"
        class="link-btn d-inline-block position-relative"
      >
        Apply Now <i class="ri-arrow-right-line"></i>
      </a>
    </span>
  </div>
  <button type="button" class="fav">
    <i class="ri-heart-line"></i>
  </button>
</div>
